<div class="row">
<h1>Edit the team below:</h1>

<%= simple_form_for @team do |f| %>

  <div class="large-4 columns">
  <%= f.input :team, placeholder: 'team name' %>
  <%= f.input :manager, placeholder: 'first and last' %>
  <%= f.input :rank, placeholder: 'current rank' %>
  <%= f.association :league, label_method: :league, value_method: :id, :include_blank => false %>
  <%= f.input :uefa, label: 'Part of UEFA?' %>
  <%= f.button :submit, :class => 'tiny'%>

  </div>

  </div>


<% end %>
<div class="row">
<p><a href="/teams" class="large-1 columns button tiny cancel-button">Cancel</a></p>
</div>