<h1>Please enter a new team:</h1>

<%= simple_form_for @team do |f| %>
<div class="row">
  <div class="large-4 columns">
  <%= f.input :team, placeholder: 'team name' %>
  <%= f.input :manager, placeholder: 'first and last' %>
  <%= f.input :rank, placeholder: 'current rank' %>
  <%= f.association :league, label_method: :league, value_method: :id, :include_blank => false %>
  <%= f.input :uefa, label: 'Part of UEFA?' %>
  <%= f.button :submit, label_html: { class: 'expand' }%>
  </div>
  </div>
<% end %>




<div class="row">
<a href="/teams" class="large-2 columns button tiny form-cancel-button">Cancel</a>
</div>

