<div class="side-navi-back">
  <p class="side-navi"><a href="#roster">Roster</a></p>
  <p class="side-navi"><a href="#">Team Standings</a></p>
  <p class="side-navi"><a href="#">Headlines</a></p>
</div>

<div class="row">

  <h4><a href="../leagues/<%= @team.league.slug %>"><%= @team.league.league %></a></h4>
  
  <h2 class="left"><%= @team.name %></h2>

  <% if user_signed_in? && current_user.teams.collect(&:id).include?(@team.id)%>
    <%= form_tag("/favorites/#{@team.id}", remote: true, method: "delete") do %>
      <%= hidden_field_tag :type, "Team" %>
      <%= button_tag'', class: "unfav-button" %>
<% end %>
<% else user_signed_in?%>
    <%= form_tag("/favorites", remote: true) do %>
      <%= hidden_field_tag :id, @team.id %>
      <%= hidden_field_tag :type, "Team" %>
      <%= button_tag'', class: "fav-button" %>
<% end %>
<% end %>

  
<div class="fav-button">
  
</div>
<div class="unfav-button"></div>
  


  <div class="large-12 columns clearfix roster">
    <h4>Manager</a></h4>
    <div class="large-8 large-offset-1 columns roster-info">
      <h5 id="manager-name"><%= @team.manager %></h5>
    </div>
    <div class="large-2 columns right">
      <img src="http://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/143px-Real_Madrid_CF.svg.png" alt="" width="60px" height="60px">
      <p>homepage</p>
    </div>
    <div class="large-12 columns">
      <h4>Goalkeepers</h4>
    </div>
      
    <div class="large-6 columns large-offset-1 roster-info">
      <h5>Player Name</h5>
    </div>

    <div class="large-5 columns roster-info">
      <h5>Number</h5>
    </div>
      <% @players.each do |player| %>
    <div class="large-6 columns large-offset-1 roster-info">
      <% if player[:position] == "Goalkeeper" %>
      <p><%= player[:name] %></p>

    </div>
    <div class="large-5 columns roster-info">
      <p><%= player[:player_number] %></p>
      <% end %>
    </div>
    <% end %>

    <div class="large-12 columns">
      <h4>Forward</h4>
    </div>
    <% @players.each do |player| %>
    <div class="large-6 columns large-offset-1 roster-info">
      <% if player[:position] == "Forward" %>
      <p><%= player[:name] %></p>
      
    </div>
    <div class="large-5 columns roster-info">
      <p><%= player[:player_number] %></p>
      <% end %>
    </div>
    <% end %>






    <div class="large-12 columns">
      <h4>Defenders</h4>
    </div>
    <div class="large-6 columns large-offset-1 roster-info">
     
    </div>
    <div class="large-5 columns roster-info">
    




      
    </div>
    <div class="large-12 columns">
      <h4>Midfield</h4>
    </div>
    <div class="large-6 columns large-offset-1 roster-info">
      
      
    </div>
    <div class="large-5 columns roster-info">
      
    </div>
  </div>






  <hr>
  
  



   <ul class="small-block-grid-3">
  <li>
    <div class="above-photo">
    <p class="text-center article-headers"><a href="#">Gareth Bale Signs for Everton</a></p>

    <img src="http://cdn2.vox-cdn.com/uploads/chorus_image/image/35349484/459415369.0_standard_709.0.jpg" alt="">
    </div>
  </li>
  <li>
    <div class="above-photo bordera">
      <p class="text-center article-headers"><a href="#">Liverpool Abandon Alexis Chase</a></p>
    <img src="http://cdn3.vox-cdn.com/uploads/chorus_image/image/35299252/451389944.0_standard_709.0.jpg" alt="">
    </div>
  </li>

  <li>
    <div class="above-photo">
      <p class="text-center article-headers"><a href="#">Lukaku to decide 'soon' after some pondering</a></p>
    <img class="hover-image" src="http://cdn2.vox-cdn.com/uploads/chorus_image/image/35272106/20140630_mjr_su5_101.JPG.0_standard_709.0.jpg" alt=""></li>
    </div>
</ul>
    
    <div class="row article-margin">
      <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">
  <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">

  <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">

  <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">
    </div>
  

</div>


<% if user_signed_in? && current_user.admin? %>
  <div>
<% if user_signed_in? && current_user.admin? %>
  <a class="button small red-text-buttons" href="/teams/<%= @team.id %>/edit">Edit</a>
  <a class="button small red-text-buttons" data-confirm="Are you sure?" data-method="delete" href="<%= "/team/#{@team.slug}"%>" rel="nofollow">Destroy</a>
  <% end %>
  
  </div>
  <% end %>
