<div class="side-navi-back">
  <p class="side-navi"><a href="#roster">Roster</a></p>
  <p class="side-navi"><a href="#">Team Standings</a></p>
  <p class="side-navi"><a href="#">Headlines</a></p>
</div>

<div class="row">

  <h4><a href="../leagues/<%= @team.league.slug %>"><%= @team.league.league %></a></h4>
  
  <h2 class="left"><%= @team.name %></h2>

  <% if user_signed_in? && current_user.teams.collect(&:id).include?(@team.id)%>
    <%= form_tag("/favorites/#{@team.id}", remote: true, method: "delete") do %>
      <%= hidden_field_tag :type, "Team" %>
      <%= button_tag'', class: "unfav-button" %>
    <% end %>
  <% else user_signed_in?%>
    <%= form_tag("/favorites", remote: true) do %>
    <%= hidden_field_tag :id, @team.id %>
    <%= hidden_field_tag :type, "Team" %>
    <%= button_tag'', class: "fav-button" %>
    <% end %>
  <% end %>

  <!-- Beginning of Roster -->
  <div class="large-12 columns clearfix roster">

    <div class="large-1 columns large-offset-1 left" id="team-logo">
      <img src="<%= @team.photo_url.url %>" alt="" width="80px" height="80px">
      
    </div>

    <div>
    <h4>Manager</a></h4>
      <h5 id="manager-name"><%= @team.manager %></h5>
    </div>
    
    <!-- Roster headers -->
    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <h5>Name</h5>
        </div>
        <div class="large-2 columns">
          <h5>Position</h5>
        </div>
        <div class="large-2 columns">
          <h5>Number</h5>
        </div>
        <div class="large-2 columns left">
          <h5>DOB</h5>
        </div>
      </div>
      <h4>Goalkeepers</h4>
    </div>
    <!-- End of Roster headers -->
    
    <!-- Goalkeeper -->
    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Goalkeeper" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Goalkeeper" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Goalkeeper" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Goalkeeper" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Goalkeepers -->

    <!-- Defenders -->
    <div class="large-12 columns">
      <h4>Defenders</h4>
    </div>

    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Defender" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Defender" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Defender" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Defender" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Defenders -->
    
    <!-- Midfielders -->
    <div class="large-12 columns">
      <h4>Midfield</h4>
    </div>

    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Midfielder" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Midfielder" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Midfielder" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Midfielder" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Midfield -->

    <!-- Forwards -->
    <div class="large-12 columns">
      <h4>Forwards</h4>
    </div>

    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Forward" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Forward" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Forward" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Forward" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Forwards -->

  </div> 
  <!-- end roster -->
  
  <hr>
  

  <!-- Rank -->
<div id="rank-borders">


  <div class="large-1 columns">
    <h4 id="rank-text">League Rank</h4>
  </div>
  <div class="large-1 columns league-rank-box">
    <h1>7</h1>
  </div>
  <div class="large-10 columns"></div>



  <div class="large-4 columns" >
    <h4 id="rank-header">Games</h4>
  </div>
  <div class="large-4 columns">
    <h4 id="rank-header">Goals</h4>
  </div>
  <div class="large-4 columns">
    <h4 id="rank-header">Points</h4>
  </div>

  <div class="large-4 columns">
    <h6>Played</h6>
    <h6>Won</h6>
    <h6>Drawn</h6>
    <h6>Lost</h6>
  </div>
  <div class="large-4 columns">
    <h6>Scored</h6>
    <h6>Against</h6>
  </div>
  <div class="large-4 columns">
    <h1>23</h1>
  </div>
</div>













  <!-- Schedule -->
  
  



























<!-- headlines -->





















