<div class="side-navi-back">
  <p class="side-navi"><a href="#roster">Roster</a></p>
  <p class="side-navi"><a href="#">Team Standings</a></p>
  <p class="side-navi"><a href="#">Headlines</a></p>
</div>

<div class="row">

  <h4><a href="../leagues/<%= @team.league.slug %>"><%= @team.league.league %></a></h4>
  
  <h2 class="left"><%= @team.name %></h2>

  <% if user_signed_in? && current_user.teams.collect(&:id).include?(@team.id)%>
    <%= form_tag("/favorites/#{@team.id}", remote: true, method: "delete") do %>
      <%= hidden_field_tag :type, "Team" %>
      <%= button_tag'', class: "unfav-button" %>
    <% end %>
  <% else user_signed_in?%>
    <%= form_tag("/favorites", remote: true) do %>
    <%= hidden_field_tag :id, @team.id %>
    <%= hidden_field_tag :type, "Team" %>
    <%= button_tag'', class: "fav-button" %>
    <% end %>
  <% end %>

  <!-- Beginning of Roster -->
  <div class="large-12 columns clearfix roster">

    <div class="large-1 columns large-offset-1 left" id="team-logo">
      <img src="<%= @team.photo_url.url %>" alt="" width="80px" height="80px">
      
    </div>

    <div>
    <h4>Manager</a></h4>
      <h5 id="manager-name"><%= @team.manager %></h5>
    </div>
    
    <!-- Roster headers -->
    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <h5>Name</h5>
        </div>
        <div class="large-2 columns">
          <h5>Position</h5>
        </div>
        <div class="large-2 columns">
          <h5>Number</h5>
        </div>
        <div class="large-2 columns left">
          <h5>DOB</h5>
        </div>
      </div>
      <h4>Goalkeepers</h4>
    </div>
    <!-- End of Roster headers -->
    
    <!-- Goalkeeper -->
    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Goalkeeper" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Goalkeeper" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Goalkeeper" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Goalkeeper" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Goalkeepers -->

    <!-- Defenders -->
    <div class="large-12 columns">
      <h4>Defenders</h4>
    </div>

    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Defender" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Defender" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Defender" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Defender" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Defenders -->
    
    <!-- Midfielders -->
    <div class="large-12 columns">
      <h4>Midfield</h4>
    </div>

    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Midfielder" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Midfielder" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Midfielder" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Midfielder" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Midfield -->

    <!-- Forwards -->
    <div class="large-12 columns">
      <h4>Forwards</h4>
    </div>

    <div class="large-12 columns">
      <div id="roster-header">
        <div class="large-3 large-offset-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Forward" %>
            <h6><%= player.name %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
          <% if player.position == "Forward" %>
            <h6><%= player.position[0] %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <% @team.players.each do |player| %>
            <% if player.position == "Forward" %>
            <h6><%= player.number %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="large-2 columns left">
          <% @team.players.each do |player| %>
            <% if player.position == "Forward" %>
            <h6><%= player.dob %></h6>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- End of Forwards -->

  </div> 
  <!-- end roster -->
  
  <hr>
  

  <!-- Rank -->














  <!-- Schedule -->
  






<!-- headlines -->

<% counter = 0 %>

<% @sbnation.entries.each do |entry| %>
<% if counter < 3 %>
<div class="large-4 columns article-headers1">
<p><a href="<%= entry[:id] %>" target="_blank"><%= entry[:title] %></a></p>

<img src="<%= entry[:content].match(/src="(\S*)"/)[1] %>" alt="">

<% counter += 1 %>
</div>
<% end %>
<% end %>


 
<% headlines = @headlines["headlines"] %>
<% counter = 0 %>
<% headlines.each do |headline| %>
<% if counter < 5 %>
<div class="large-5 columns espn-image">
  <% if headline["video"] != [] %>
  <video controls src="<%= headline["video"][0]["links"]["source"]["mezzanine"]["href"]  %>" width="350px" height="200px" poster="<%= headline["video"][0]["posterImages"]["default"]["href"] %>">
</video>
</div>


<div class="large-5 columns espn-image">
  <% elsif headline["images"] != [] %>
  <img src="<%= headline["images"][0]["url"] %>" width="350" alt="">
  <% else %>
  
   <div class="large-5 columns no-image-filler"></div>
  
  <% end %>
</div>
<div class="large-5 columns espn-article">
<h4><small><%= headline["headline"] %></small></h4>
<p>by <%= headline["byline"] %></p>
  <p><a href="<%= headline["links"]["web"]["href"] %>" target="_blank"><%= headline["title"] %></a></p>
</div>

<div class="large-12 columns">
  <div class="large-5 columns underline"></div>
</div>
<% counter +=1 %>
<% end %>
<% end %>




<% counter = 0 %>
<% @sbnation.entries.each do |entry| %>
<% if counter > 3 && counter < 7%>
<div class="large-4 columns article-headers1">
<p><a href="<%= entry[:id] %>" target="_blank"><%= entry[:title] %></a></p>

<img src="<%= entry[:content].match(/src="(\S*)"/)[1] %>" alt="">

</div>
<% end %>
<% counter += 1 %>
<% end %>



