<!-- Auto Scroll nav -->
<div ng-app="app">
  <nav class="side-navi-back" ng-controller="ScrollCtrl">
    <p class="side-navi"><a href="#roster" ng-click="gotoElement('roster')">Roster</a></p>
    <p class="side-navi"><a href="#" ng-click="gotoElement('standings')">Team Standings</a></p>
    <p class="side-navi"><a href="#" ng-click="gotoElement('headlines')">Headlines</a></p>
  </nav>

  <div class="row">
    <h4><a href="../leagues/<%= @team.league.slug %>"><%= @team.league.league %></a></h4>
    
        <% if user_signed_in? %>
    <div ng-controller="favoriteCtrl" ng-init="init(<%= @team.id %>, <%= current_user.teams.collect(&:id).include?(@team.id) %>)">
          <div class="left" ng-click="favoriteTeam(<%= @team.id %>)">
            <div class="outline" ng-class="{filled: filled}"></div>
          </div>
      </div> 
        <% end %>
      <h4 class="left"><%= @team.name %></h4>
  </div>
</div>
<div class="row team-info-header">
  <div class="large-4 columns center-team-info">  
    <h5><span id="team-info">Nickname</span> <%= @team.nickname %></h5>
  </div>
  <div class="large-4 columns center-team-info">
    <h5><span id="team-info">Stadium</span><%= @team.stadium %></h5>
  </div>
  <div class="large-4 columns center-team-info">
    <h5><span id="team-info">Location</span><%= @team.location %></h5>
  </div>
</div>

  <!-- Beginning of Roster -->
  <div class="row">
  <div class="large-12 columns roster" id="roster">

    <div class="large-1 columns large-offset-1 left" id="team-logo">
      <img src="<%= @team.photo_url.url %>" alt="" width="80px" height="80px">  
    </div>
      <h4>Manager</a></h4>
      <h5 id="manager-name"><%= @team.manager %></h5>
      <div class="goalie-header">
      <h3>Goalkeepers</h3>
      </div>
    </div>
  
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Goalkeeper" %>
      <tr>
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
    <div class="roster-header">
      <h3>Defenders</h3>
    </div>
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Defender" %>
      <tr> 
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
    <div class="roster-header">
      <h3>Midfield</h3>
    </div>
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Midfielder" %>
      <tr> 
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
    <div class="roster-header">
      <h3>Forwards</h3>
    </div>
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Forward" %>
      <tr> 
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
  </div> 

<!-- Rank -->
<div id="standings" class="row">
  <h1>Standings</h1>
  <% @ranks.each do |rank| %>
  <% if rank["stand_team_name"] == @team.name %>
    <table class="rank-table">
      <tr id="league-rank">
        <th>Rank</th>
        <th><%= rank["stand_position"] %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>Games</th>
        <th></th>
        <th>Goals</th>
        <th></th>
        <th>Points</th>
      </tr>
      <tr>
        <td>Played</td>
        <td><%= rank["stand_overall_gp"] %></td>
        <td>Scored</td>
        <td><%= rank["stand_overall_gs"] %></td>
        <td id="total-points" rowspan="2"><%= rank["stand_points"] %></td>
      </tr>
      <tr>
        <td>Won</td>
        <td><%= rank["stand_overall_w"] %></td>
        <td>Against</td>
        <td><%= rank["stand_overall_ga"] %></td>
      </tr>
      <tr>
        <td>Drawn</td>
        <td><%= rank["stand_overall_d"] %></td>
      </tr>
      <tr>
        <td>Lost</td>
        <td><%= rank["stand_overall_l"] %></td>
      </tr>
    </table>
  <% end %>
  <% end %>

<!-- Schedule -->
<div class="row schedule">
  <h1>Fixtures</h1>
  <h3 id="month"><%= DateTime.now.strftime("%B") %></h3>
  <div class="large-5 large-offset-1 columns">
    <h3>Home</h3>
    <% @matches.each do |match| %>
      <% if match["match_localteam_name"] == @team.football_fix_team_name %>  
        <div class="schedule-box large-6 columns">
          <h5><%= match["match_date"] %></h5>
          <h5><%= match["match_time"] %></h5>
          <h4><%= match["match_visitorteam_name"] %></h4>
        </div>
      <% end %>
    <% end %>  
  </div>
  <div class="large-6 columns">
    <h3>Away</h3>
    <% @matches.each do |match| %>
      <% if match["match_visitorteam_name"] == @team.football_fix_team_name %>    
        <div class="schedule-box large-6 columns">
          <h5><%= match["match_date"] %></h5>
          <h5><%= match["match_time"] %></h5>
          <h4><%= match["match_localteam_name"] %></h4>      
        </div>
      <% end %>  
    <% end %>
  </div>
</div>
<!-- headlines -->
  <% counter = 1%>
  <% @guardian.items.each do |item| %>
    <% if counter < 4 && item.media_content_url != nil %>
      <div id="headlines" class="large-4 columns article-headers">
        <p><a href="<%= item.link %>"><%= item.title.force_encoding('UTF-8') %></a></p>
      </div>
      <% counter += 1 %>
    <% end %>
  <% end %>
  <% counter = 1 %>
  <% @guardian.items.each do |item| %>
    <% if counter < 4 && item.media_content_url != nil %>
      <div class="large-4 columns article-headers-image">
        <a href="<%= item.link %>"><img src="<%= item.media_content_url %>" width="333px" height="200px" alt=""></a>
      </div>
      <% counter += 1 %>
    <% end %>
  <% end %>
  <% @headlines[0..5].each do |headline| %>
    <% if headline["video"].any? %>
      <div class="large-5 columns image-margin">
        <video controls src="<%= headline["video"][0]["links"]["source"]["mezzanine"]["href"]  %>" width="422px" height="234px" poster="<%= headline["video"][0]["posterImages"]["default"]["href"] %>">
        </video>
      </div>
      <div class="large-3 columns article-margin">
        <h5><a href="<%= headline["video"][0]["links"]["web"]["href"] %>" target="_blank"><%= headline["video"][0]["headline"] %></a></h5>
        <p><%= headline["video"][0]["description"] %></p>
      </div>  
      <div class="large-8 columns"></div>
    <% elsif headline["images"].any? %>
      <div class="large-5 columns image-margin">
        <img src="<%= headline["images"][0]["url"] %>" height="234" width="417" alt="">
      </div>
      <div class="large-3 columns article-margin">
        <h5><a href="<%= headline["links"]["web"]["href"] %>" target=_"blank"><%= headline["headline"] %></a></h5>
        <p>By <%= headline["byline"] %></p>
        <p><%= headline["linkText"] %></p>
      </div>
    <% end %>
  <% end %>
  <% @sbnation.entries[3..8].each do |entry| %>
    <% if entry[:content].match(/src="(\S*)"/) != nil %>
      <div class="large-5 columns image-margin">
        <img src="<%= entry[:content].match(/alt="" src="(\S*)"/)[1] %>" width="417" alt="">
      </div>
      <div class="large-3 columns sb-article-margin">
        <h5><a href="<%= entry[:id] %>" target="_blank"><%= entry[:title].force_encoding('UTF-8') %></a></h5>
        <p>by <%= entry[:author] %></p>
      </div>
      <div class="large-8 columns"></div>
    <% end %>
  <% end %>
  <div>
    <% if @team.twitter_handle != nil %>
      <a class="twitter-timeline" width="280" href="https://twitter.com/<%= @team.twitter_handle %>" data-widget-id="499305398621315072" data-theme="light" data-link-color="#ff1212" data-chrome="transparent" height="1000" data-screen-name="<%= @team.twitter_handle %>">Tweets by @<%= @team.twitter_handle %></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <% end %>
  </div>
  <div class="large-9 columns"></div>
</div>