<div class="row">

  <h4><a href="../leagues/<%= @team.league.slug %>"><%= @team.league.league %></a></h4>
<%= form_tag("/favorites", method: "post") do %>
    <%= hidden_field_tag :id, @team.id %>
    <%= hidden_field_tag :type, "Team" %>
    <%= image_submit_tag("Red_star.png")%>
  <% end %>
  <h2><%= @team.team %></h2>

  

  <div class="row" >
    <div class="large-8 medium-8 small-12 columns">
      <img src="<%= @team.photo_url %>" alt="">
    </div>
    
    <div class="row">
      <div class="large-4 medium-4 small-12 columns">
        <h2>Stats</h2>
        <hr class="border">
      </div>
      
      <div class="large-2 medium-2 small-6 columns green-line">
        <h4>Season</h4>
        <ul class="side-nav">
          <li>League Rank:</li>
          <li>League Points: </li>
          <li>Games Played:</li>
          <li>W-D-L:</li>
          <li>GF:</li>
          <li>GA:</li>
        </ul>
      </div>
      
      <div class="large-2 medium-2 small-6 columns">
        <h4>Match</h4>
        <ul class="side-nav">
          <li>Shots on goal:</li>
          <li>Crosses:</li>
          <li>Offsides:</li>
          <li>Saves:</li>
          <li>Fouls:</li>
          <li>Cards:</li>
        </ul>
      </div>
    </div>
  </div>
  
  <br>
  
  <div class="row">
      <ul class="team-show-list1">
        <div class="large-3 medium-3 small-3 columns">
          <li class="team-list">Manager:</li>
        </div>
        <div class="large-3 medium-3 small-3 columns">
          <li>Nickname:</li>
        </div>
        <div class="large-3 medium-3 small-3 columns">
          <li>Established:</li>
        </div>
        <div class="large-3 medium-3 small-3 columns">
          <li>Stadium:</li>
        </div>
      </ul>    
  </div>

  <div class="row">
    <ul class="team-show-list2">
      <div class="large-3 medium-3 small-3 columns">
        <li><%= @team.manager %></li>
      </div>
      <div class="large-3 medium-3 small-3 columns">
        <li><%= @team.nickname %></li>
      </div>
      <div class="large-3 medium-3 small-3 columns">
        <li><%= @team.established %></li>
      </div>
      <div class="large-3 medium-3 small-3 columns">
        <li><%= @team.stadium %></li>
      </div>  
    </ul>
  </div>
  

<dl class="accordion player-accordion" data-accordion>
  <dd class="accordion-navigation">
        <a href="#panel4c">Squad</a>
        <div id="panel4c" class="content">
    <table>      
  <thead>
    <tr>
      <th width="150">Name</th>
      <th>Number</th>
      <th width="200">Position</th>
      <th width="100">DOB</th>
      <th width="200">Country</th>
    </tr>
  </thead>
  <% @team.players.each do |player| %>
  <tbody>
    <tr>
      <td><a href="<%= player_path(player.slug) %>"><%= player.name %></a></td>
      <td><%= player.number %></td>
      <td><%= player.position %></td>
      <td></td>
      <td><%= player.country %></td>
    </tr>
  </tbody>
  <% end %>
</table>

        </div>
      </dd> 
</dl>





  <hr>
  <% if user_signed_in? && current_user.admin? %>
  <div>
<% if user_signed_in? && current_user.admin? %>
  <a class="button small red-text-buttons" href="/teams/<%= @team.id %>/edit">Edit</a>
  <a class="button small red-text-buttons" data-confirm="Are you sure?" data-method="delete" href="<%= "/team/#{@team.slug}"%>" rel="nofollow">Destroy</a>
  <% end %>
  
  </div>
  <% end %>
  



   <ul class="small-block-grid-3">
  <li>
    <div class="above-photo">
    <p class="text-center article-headers"><a href="#">Gareth Bale Signs for Everton</a></p>

    <img src="http://cdn2.vox-cdn.com/uploads/chorus_image/image/35349484/459415369.0_standard_709.0.jpg" alt="">
    </div>
  </li>
  <li>
    <div class="above-photo bordera">
      <p class="text-center article-headers"><a href="#">Liverpool Abandon Alexis Chase</a></p>
    <img src="http://cdn3.vox-cdn.com/uploads/chorus_image/image/35299252/451389944.0_standard_709.0.jpg" alt="">
    </div>
  </li>

  <li>
    <div class="above-photo">
      <p class="text-center article-headers"><a href="#">Lukaku to decide 'soon' after some pondering</a></p>
    <img class="hover-image" src="http://cdn2.vox-cdn.com/uploads/chorus_image/image/35272106/20140630_mjr_su5_101.JPG.0_standard_709.0.jpg" alt=""></li>
    </div>
</ul>
    
    <div class="row article-margin">
      <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">
  <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">

  <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">

  <div class="large-3 columns">
        <img src="http://img.bleacherreport.net/img/images/photos/002/972/994/hi-res-8089835c7478a5c40869dc9b734674dc_crop_north.jpg?w=630&h=420&q=75" alt="  ">
      </div>
      <div class="large-5 columns">
<h4><small>Arsenal Must Target Lars Bender Next</small></h4>
        
<p class="credit">by James McNicholas<p>
<p>Having secured the transfer of Alexis Sanchez from Barcelona, it must be tempting for Arsenal ’s negotiating team to rest on their considerable laurels. In signing the Chilean, they have br... Read More »</p>
      </div>
      <div class="large-4 columns">
        
      </div>
  <hr class="large-8">
    </div>
  





</div>

