<div class="side-navi-back">
  <p class="side-navi"><a href="#roster">Roster</a></p>
  <p class="side-navi"><a href="#">Team Standings</a></p>
  <p class="side-navi"><a href="#">Headlines</a></p>
</div>

<div class="row">
  <h4><a href="../leagues/<%= @team.league.slug %>"><%= @team.league.league %></a></h4>
  
  <h2 class="left"><%= @team.name %></h2>

  <% if user_signed_in? && current_user.teams.collect(&:id).include?(@team.id)%>
    <%= form_tag("/favorites/#{@team.id}", remote: true, method: "delete") do %>
      <%= hidden_field_tag :type, "Team" %>
      <%= button_tag'', class: "unfav-button" %>
    <% end %>
  <% else user_signed_in?%>
    <%= form_tag("/favorites", remote: true) do %>
    <%= hidden_field_tag :id, @team.id %>
    <%= hidden_field_tag :type, "Team" %>
    <%= button_tag'', class: "fav-button" %>
    <% end %>
  <% end %>
</div>
  <!-- Beginning of Roster -->
  <div class="row">
  <div class="large-12 columns roster">

    <div class="large-1 columns large-offset-1 left" id="team-logo">
      <img src="<%= @team.photo_url.url %>" alt="" width="80px" height="80px">  
    </div>
      <h4>Manager</a></h4>
      <h5 id="manager-name"><%= @team.manager %></h5>
      <div class="goalie-header">
      <h3>Goalkeepers</h3>
      </div>
    </div>
  
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Goalkeeper" %>
      <tr>
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
    <div class="roster-header">
      <h3>Defenders</h3>
    </div>
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Defender" %>
      <tr> 
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
    <div class="roster-header">
      <h3>Midfield</h3>
    </div>
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Midfielder" %>
      <tr> 
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
    <div class="roster-header">
      <h3>Forwards</h3>
    </div>
    <table class="player-table">
      <tr>
        <th width="350">Player</th>
        <th width="250">Number</th>
        <th width="100">Age</th>
        <th>DOB</th>
      </tr>
        <% @team.players.each do |player| %>
        <% if player.position == "Forward" %>
      <tr> 
          <td><%= player.name %></td>
          <td><%= player.number %></td>
          <% age = (DateTime.now - player.dob)/365 %>
          <td><%= age.to_i %></td>
          <td><%= player.dob.strftime("%b %d, %Y") %></td>
      </tr>
        <% end %>
        <% end %>
    </table>
  </div> 

<!-- Rank -->
<div class="row">
  <% ranks = @rank["teams"] %>
  <% ranks.each do |rank| %>
  <% if rank["stand_team_name"] == @team.name %>
    <table class="rank-table">
      <tr id="league-rank">
        <th>Rank</th>
        <th><%= rank["stand_position"] %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>Games</th>
        <th></th>
        <th>Goals</th>
        <th></th>
        <th>Points</th>
      </tr>
      <tr>
        <td>Played</td>
        <td><%= rank["stand_overall_gp"] %></td>
        <td>Scored</td>
        <td><%= rank["stand_overall_gs"] %></td>
        <td id="total-points" rowspan="2"><%= rank["stand_points"] %></td>
      </tr>
      <tr>
        <td>Won</td>
        <td><%= rank["stand_overall_w"] %></td>
        <td>Against</td>
        <td><%= rank["stand_overall_ga"] %></td>
      </tr>
      <tr>
        <td>Drawn</td>
        <td><%= rank["stand_overall_d"] %></td>
      </tr>
      <tr>
        <td>Lost</td>
        <td><%= rank["stand_overall_l"] %></td>
      </tr>
    </table>
  <% end %>
  <% end %>
</div>

<!-- Schedule -->
<div class="row">
  <h1>Fixtures</h1>
  <h3 id="month"><%= DateTime.now.strftime("%B") %></h3>
  <div class="large-5 large-offset-1 columns">
    <h3>Home</h3>
    <% @matches.each do |match| %>
      <% if match["match_localteam_name"] == @team.name %>  
        <div class="schedule-box large-6 columns">
          <h5><%= match["match_date"] %></h5>
          <h5><%= match["match_time"] %></h5>
          <h4><img src="<%= @team.photo_url.url %>" width="40" height="40"><%= match["match_visitorteam_name"] %></h4>
        </div>
      <% end %>
    <% end %>  
  </div>
  <div class="large-6 columns">
    <h3>Away</h3>
    <% @matches.each do |match| %>
      <% if match["match_visitorteam_name"] == @team.name %>    
        <div class="schedule-box large-6 columns">
          <h5><%= match["match_date"] %></h5>
          <h5><%= match["match_time"] %></h5>
          <h4><img src="<%= @team.photo_url.url %>" width="40" height="40"><%= match["match_localteam_name"] %></h4>      
        </div>
      <% end %>  
    <% end %>
  </div>
</div>

