<div class="row">
  <% @leagues.each do |league| %>
    <h3><a href="<%= league_path(league.slug) %>"><%= league.league %></a></h3>
      <div class="row">
        <div class="large-6 medium-5 small-12 columns">
          <table>
            <tr>
              <th width="200px"><%= link_to "Team", :sort => 'team' %></th>
              <th><% link_to "Rank" %>Rank</th>
              <th>Games Played</th>
              <th>League points</th>
            </tr>
            <% league.teams.each do |team| %>
            <tr>
              <td><a href="<%= team_path(team.slug) %>"><%= team.team %></a></td>
              <td><%= team.rank %></td>
            <% end %>
            </tr>
          </table>
        </div>
        <div class="large-6 columns">
          <div class="background-overlay">
          <a href="#"><img src="http://cdn1.vox-cdn.com/uploads/chorus_image/image/35872166/483579193.0_standard_709.0.jpg" alt="" class="image-position"></a>
          </div>
        </div>
        <div class="columns large-6">
          <div class="text-overlay">
          <p class="leagues-text">Juventus confirmed on Monday the much rumored transfer of Patrice Evra to the defending Serie A champions. Evra leaves Manchester United for a £1.2 million fee, with an additional £300k going to the Red . . . <a href="#">Read More ></p></a>        
          </div>
        </div> 
    </div>
  <% end %>
</div>

