<div class="row" ng-app="app">
  <div class="large-7 columns">
  
    <h4 class="left"><%= @league.league %></h4> 
    <div ng-controller="favoriteCtrl" ng-init="init(<%= @league.id %>, <%= current_user.leagues.collect(&:id).include?(@league.id) %>)">
      
      <% if user_signed_in? %>
        <div ng-click="favorite(<%= @league.id %>)">
            <div class="outline" ng-class="{filled: filled}"></div>
        </div>
      <% end %>
    </div> 
  </div>
  
  <div class="large-7 columns">

    <table class="league-table" ng-controller="rankCtrl" ng-init="init(<%= @league.id %>)">
      
      <tr>
        
        <th colspan="2" width="300"><a ng-click="predicate = 'name'; reverse=!reverse">Team</a></th>
        <th width="100"><a href="" ng-click="predicate = parseInt(rank.stand_position); reverse=!reverse">Rank</a></th>
        <th width="100"><a >Played</a></th>
        <th width="100"><a >Points</a></th>
      </tr>
      
        
      <tr ng-repeat="team in teams | orderBy:'name' | orderBy:predicate:reverse | filter:query">
        
        <td><img src="{{ team.image.photo_url.url }}" width="30" height="30" alt=""></td>
        <td><a href="/teams/{{team.slug}}">{{ team.name }}</a></td>
        <td>{{ team.rank.stand_position }}</td>
        <td>{{ team.rank.stand_overall_gp }}</td>
        <td> {{ team.rank.stand_points }} </td>
        
      </tr>
        
      
      
    </table>
  </div>

  <div class="large-5 columns">
    <a class="twitter-timeline" href="https://twitter.com/<%= @league.twitter_handle %>" data-widget-id="499305398621315072" data-theme="light" data-link-color="#ff1212" data-chrome="transparent" height="850" data-screen-name="<%= @league.twitter_handle %>">Tweets by @<%= @league.twitter_handle %></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<div class="row">

<% if @league.league == "English Premier League" %>
    <% @sbnation.entries[1..5].each do |entry| %>
    <% if entry[:content].match(/src="(\S*)"/) != nil%>
  <div class="large-5 columns image-margin">
    <img src="<%= entry[:content].match(/src="(\S*)"/)[1] %>" width="417" alt="">
  </div>

  <div class="large-3 columns sb-article-margin">
    <h5><a href="<%= entry[:id] %>" target="_blank"><%= entry[:title] %></a></h5>
    <p>by <%= entry[:author] %></p>
    <p><%= entry[:content].match(/p&gt;(\S.*)\./)[1] %>.</p>
  </div>

  <% end %>
  <% end %>
  <div class="large-12 columns"></div>
  <% end %>
</div>


<div class="row">
  <p>Back to <a href="<%= leagues_path %>">leagues</a></p>
    <% if user_signed_in? && current_user.admin? %>
      
        <a class="button small red-text-buttons" href="<%= leagues_edit_path(@league.slug) %>">Edit</a>
      
        <a class="destroy button small red-text-buttons" data-confirm="Are you sure?" data-method="delete" href="<%= "/leagues"%>" rel="nofollow">Destroy</a>
    <% end %>
</div>