<p><%= @league.league %></p>
<p><%= @league.country %></p>
<ul>
  <% @league.teams.each do |team| %>



  <li class="side-nav"><a href="../teams/<%= team.slug %>"><%= team.team %></a></li>
  <% end %>
</ul>




<p>Back to <a href="/leagues">leagues</a></p>

<div class="button tiny">
  <a href="/leagues/<%= @league.slug %>/edit">Edit</a>
</div>

  <a class="destroy" data-confirm="Are you sure?" data-method="delete" href="<%= "/team/#{@league.id}"%>" rel="nofollow">Destroy</a>