
<% if user_signed_in? == false %>
<body class="home-page">



  <div class="row form-margin">

    <div class="large-4 columns home-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'your email', :class => 'form-inputs' %>
          <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: 'first name', :class => 'form-inputs' %>
          <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: 'last name' %>
          <%= f.input :password, required: true, placeholder: 'password', label: false %>
          <%= f.input :password_confirmation, required: true, placeholder:'confirm password', label: false %>
          <label class="checkbox"><%= f.input_field :remember_me, as: :boolean, inline_label: '   Remember me'  %> </label>
        </div>
        <div class="form-actions action-button-margin">
        <%= f.button :submit, "Sign up", :class => 'small' %>
      
      
    </div>
    </div>
      <% end %>



<div class="large-5 columns home-page-accordion">
<ul class="small-block-grid-1 medium-block-grid-3">
  <li>
    <dl class="accordion" data-accordion="myAccordionGroup">
      <dd class="accordion-navigation">
        <a href="#panel1c">About</a>
        <div id="panel1c" class="content">
          Pick and choose the leagues and teams you want to follow. Following European football leagues can be tough. This will make it easy. Get everything all the info as it happen, get calendar reminders
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel2c">Why these European leagues?</a>
        <div id="panel2c" class="content">
          Honestly, that's where all the drama is. These leagues features the best players in the world. So if you don't have time to follow everyone, these are the ones to try.
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel3c">How does it work?</a>
        <div id="panel3c" class="content">
          You can view all the leagues and stats without an account - no problem. But if you want a customized page to help you follow your favorite teams and leagues, then you need to register. From there, just choose who all you want to follow. This is awesome!
        </div>
      </dd>
    </dl>
  </li>
</ul>
</div>

<div class="large-2 columns">
<a href="#" class="button league-dropdown" data-dropdown="drop" data-dropdown="hover1" data-options="is_hover:true">Leagues &raquo;</a>
<ul id="drop" class="medium large content f-dropdown" data-dropdown-content>
  <li><a href="leagues/bundesliga">Bundesliga</a></li>
  <li><a href="/leagues/english-premier-league">English Premier League</a></li>
  <li><a href="/leagues/la-liga">La Liga</a></li>
  <li><a href="/leagues/serie-a">Serie A</a></li>
  
</ul>
</div>


<div class="row">
<div class="large-4 columns home-form login-form hidden-form">    

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, label: false, placeholder: 'your email' %>
    <%= f.input :password, required: false, label: false, placeholder: 'your password' %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Login", :class => 'small' %>
  </div>
<% end %>

</div>
</div>
</div>
</body>
<% end %>

<% if user_signed_in? %>
<body>
  <div class="row">
    <div class="columns large-2">
      <ul id="favorites-nav">
        <li><a href="/favorites/leagues">Leagues</a></li>
        <li><a href="/favorites/teams">Teams</a></li>
      </ul>
    </div>
    <div class="columns large-9 large-offset-1">
      <h3>Favorites!</h3>
      <% if current_user.leagues.empty? && current_user.teams.empty?%>
      <h4>It looks like you haven't favorited any leagues or teams yet. Get started here:</h4>
      <h5><a href="<%= leagues_path %>">Leagues</h5>
      <h5><a href="<%= leagues_path %>">Teams</a></h5>
      <% elsif current_user.leagues.empty?%>
      <h5>You've got some teams, let's get you started with some <a href="<%= leagues_path %>">leagues</a></h5>
      <% @fav_teams.each do |team| %>
        <div class="large-4 medium-5 small-12 columns fav-teams">
          <a href="<%= team_path(team.slug) %>"><h2><img src="<%= team.photo_url %>" width="200" height="200" alt=""></h2></a>
        </div>
      <% end %>
        <div class="large-12 columns"></div>

      <% elsif current_user.teams.empty? %>
      <h5>You've got some leagues, let's get you started with some <a href="<%= leagues_path %>">teams</a></h5>
    <% @fav_leagues.each do |league| %>
        <div class="large-4 medium-5 small-12 columns fav-leagues">
          <a href="/favorites/leagues"><h2><img src="<%= league.photo_url %>" width="200" height="200" alt=""></h2></a>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</body>
<% end %>