<%= simple_form_for @league do |f| %>

  <div class="large-4 columns">
    <%= f.input :league, placeholder: 'League name'%>
    <%= f.input :country, collection: ["England", "Germany", "Italy", "Spain", "Portugal", "France"] %>
    <%= f.input :intro, placeholder: 'Add some text to introduce the league' %>
    <%= f.file_field :photo_url %>
    <%= f.button :submit, :class => 'button small red-text-buttons'%>
    <p class="button small red-text-buttons"><a href="<%= leagues_path %>">Cancel</a></p>
  </div>
<% end %>
