<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    </head>

<% flash.each do |name, message| %>
  <div class="alert-box radius <%= name %>">
    <%= message %>
  </div>
<% end %>
  
<body>
  <div class="main-wrapper">
    <!-- Beginning of Top Nav Bar -->
    <div class="fixed contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Eur Leagues</a></h1>
          </li>
          <li class="toggle-topbar"><a href="#"><span></span></a></li>
        </ul>
        
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown"><a href="<%= leagues_path %>">Leagues</a>
              <ul class="dropdown">
                <li><a href="/leagues/bundesliga">Bundesliga (Germany)</a> </li>
                <li><a href="/leagues/la-liga">La Liga (Spain)</a></li> 
                <li><a href="/leagues/ligue-1">Ligue 1 (France)</a></li>
                <li><a href="/leagues/english-premier-league">Premier League (England)</a></li>
                <li><a href="/leagues/primeira-liga">Primeira Liga (Portugal)</a></li>
                <li><a href="/leagues/serie-a">Serie A (Italy)</a></li>
                <li><a href="/leagues/champions">Champions</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Account</a>
              <ul class="dropdown">
                <% if user_signed_in? === false %>
                  <li><a href="/sign-up">Sign up</a></li>
                  <li><a href="/login">Sign in</a></li>
                <% end %>
                <% if user_signed_in? %>
                  <li><a data-method="delete" rel="nofollow" href="/logout">Sign Out</a></li>
                <% end %>
              </ul>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <% if user_signed_in? %>
          <ul class="left">
            <li class="divider"></li>
            <li><a href="/">Your Favorites</a></li>
            <li class="divider"></li>
          </ul>
          <% end %>

        </section>
      </nav>
    <!-- End of Top Nav Bar -->
    
    </div>
    <%= yield %>
  </div>
    <div class="push-footer">
      
    </div>
    
    <footer>
      <div class="row">
      <h3 class="footer-header">Contact site owner<span class="footer-divider">|</span></h3>
      <h3 class="footer-header">Leagues</h3>
      <% if user_signed_in? %>
      <h3 class="footer-header"><span class="footer-divider">|</span>Your Favorites</h3>
      <% end %>
      <h4 id="copyright">&#169 Trevor Jones <span class="footer-divider">|</span> 2014</h4>
      </div>
      
    </footer>  

<%= javascript_include_tag "application" %>
</body>  
</html>